h3{
	color:blue;
	background-color: black;
}

/* */

p{
	color: green;
}


.head1{ 
	background-color: blue;

}

.red{
	border: 5px solid yellow
}

/*
#heading1{
	background-color: red; 
}
.headingg1{
	background-color: blue;
}
#headingg1{
	color: red;
}*/

h3{
	color: red;
}
#headigg1{
	color: blue;
}
.headingg1{
	color: green;
}
/*
div{
	width: 200px;
	height: 100px;
	background-color: red;
}
div{
	width: 200pt;
	height: 100pt;
	background-color: red;
}


div{
	width: 20%;
	height: 100pt;
	background-color: red;
}*/

div{
	width: 20%;
	height: 100pt;
	background-color: rgba(178,12,0,.4);
}